@model RegisterViewModel

<form asp-action="Register" enctype="multipart/form-data" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Role" class="control-label">Роль</label>
        <input asp-for="Role" id="radio1" type="radio" value="applicant" onclick="close()"/>
        <label for="radio1">applicant</label><br />
        <input asp-for="Role" id="radio2" type="radio" value="boss" onclick="open()"/>
        <label for="radio2">boss</label>
        <span asp-validation-for="Role" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label">Почта</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Nickname" class="control-label">Никнейм</label>
        <input asp-for="Nickname" class="form-control" />
        <span asp-validation-for="Nickname" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Name" class="control-label">Имя</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Surname" class="control-label">Фамилия</label>
        <input asp-for="Surname" class="form-control" />
        <span asp-validation-for="Surname" class="text-danger"></span>
    </div>
    <div id="company" class="form-group" style="display: none;">
        <label asp-for="CompanyName" class="control-label">Название компании</label>
        <input asp-for="CompanyName" class="form-control" />
        <span asp-validation-for="CompanyName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PhoneNumber" class="control-label">Номер телефона</label>
        <input asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="File" class="control-label">Загрузка аватарки</label>
        <input asp-for="File" type="file" class="form-control" />
        <span asp-validation-for="File" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="control-label">Подтверждение пароля</label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PasswordConfirm" class="control-label">Подтверждение пароля</label>
        <input asp-for="PasswordConfirm" class="form-control" />
        <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
    </div>
    <input type="submit" value="Отправить" />
</form>


@section Scripts
{
    <script>
        function open() {
            console.log("open");
            $('#company').show();
        }
        function close() {
            console.log("close");
            $('#company').hide();
        }
</script>   
}